.heading{
    color: beige;
    width: 70%;
}
.glassContainer{
    width: 95%;
    height: 4vh;
    background: rgba(255, 255, 255, 0.1);  /* White with some transparency */
    backdrop-filter: blur(10px);  /* Applies the blur effect */
    border-radius: 15px;  /* Optional, for rounded corners */
    padding: 30px;  /* Optional padding */
   position: absolute;
   display: grid;
   grid-template-columns: 42% 58%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Optional shadow for better visibility */
    color: white;  /* Text color inside the glass */
}
.navbar {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
   
    position: relative;
   
    width: 100%;
    z-index: 1000;
   
  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0px 6px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
   
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .navbar a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #00bcd4;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
  }

  .navbar a:hover {
    color: #00bcd4;
    transform: scale(1.1);
  }

  .navbar a:hover::before {
    width: 100%;
    left: 0;
  }

  /* Smooth slide-down effect for active navbar items */
  .navbar a.active {
    
    padding: 15px 20px;
    border-radius: 4px;
  }

  /* Adding animation */
  .navbar a:nth-child(odd) {
    animation: slideIn 0.5s ease-out 0.3s forwards;
  }

  .navbar a:nth-child(even) {
    animation: slideIn 0.5s ease-out 0.5s forwards;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Adding a hover effect to the navbar */
  .navbar:hover {
   
    transition: background-color 0.3s ease;
  }