
<app-header></app-header>
<div class="glassContainer">
    <div class="heading">SAM PHOTOGRAPHY</div>
    <div class="navbar">
        <a href="#p1" class="nav-link">Home</a>
        <a href="#p2" class="nav-link">About</a>
        <a href="#p3" class="nav-link">Services</a>
        <a href="#" class="nav-link">Contact</a>
      </div>
</div>
<div class="maindiv">
    <div class="page1" id="p1">
    <div class="leftsidePage1">
        <div class="welcome">WELCOME</div>
        <div class="welmessage">Hey peeps introducing my new site</div>
    </div>
    <div class="leftsidePage2" >
        
    </div>
    </div>
    
</div>
<div class="page2" id="p2">
    <div class="leftsidePage1">

    </div>
    <div class="leftsidePage2">
        
    </div>
    </div>
    <div class="page3" id="p3">
        <div class="section-title">
            <h2>ACADEMICS</h2>
            <p>My Excellence</p>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-title"><i class="fa-solid fa-pen-ruler"></i>
                    <h3>UX/UI Design</h3>
                </div>
                <p>I work hard to make my websites stylish, intuitive and easy to use. I also love researching the psychology behind designs, such as color theory, button placement, etc.</p>
            </div>
            <div class="card">
                <div class="card-title"><i class="fa-solid fa-palette"></i>
                    <h3>Graphic Design</h3>
                </div>
                <p>I create all of my own logos, website designs, and most game graphics.</p>
            </div>
            <div class="card">
                <div class="card-title"><i class="fa-solid fa-desktop"></i>
                    <h3>Web Design</h3>
                </div>
                <p>Everything I do is on the web! I've been designing for the web for 5 years.</p>
            </div>
            <div class="card">
                <div class="card-title"><i class="fa-solid fa-code"></i>
                    <h3>Multi-Lingual</h3>
                </div>
                <p>I am compitant in HTML5, CSS3, Javascript, jQuery, SVG, HTML Canvas, and Firebase.</p>
            </div>
        </div>
    </div>
    




<router-outlet />
