.maindiv{
display: flex;
    margin-top: 3vh;
}
.page1{
    display: grid;
        width: 100%;
        height: 95vh;
        grid-template-columns: 50% 50%;
}
.leftsidePage1{
    background-color: aqua;
    height: 90vh;
    width: 48vw;
    margin-top: 15vh;
}
.leftsidePage2{
background-color: aquamarine;
height: 90vh;
width: 48vw;
margin-top: 15vh;
}
.page2{
    display: grid;
        width: 100%;
        height: 95vh;
        grid-template-columns: 50% 50%;
}